@model IEnumerable<Gestion_repos.Repos>
<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        .d {
            margin: 20px;
        }
    </style>
    <title>Table V03</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <form action="da" method="post">

        <div class="limiter">

            <div class="container-table100">
                <input type="date" class="d" name="debut" />
                <hr />
                <br />
                <br />
                <input type="date" name="fin" class="d" />

                <div class="wrap-table100">
                    <div class="table100 ver1 m-b-110">

                        <table data-vertable="ver1">
                            <thead>
                                <tr class="row100 head">
                                    <th class="column100 column1" data-column="column1"></th>
                                    <th class="column100 column3" data-column="column3">Lundi</th>
                                    <th class="column100 column4" data-column="column4">Mardi</th>
                                    <th class="column100 column5" data-column="column5">Mercredi</th>
                                    <th class="column100 column6" data-column="column6">Jeudi</th>
                                    <th class="column100 column7" data-column="column7">Vendredi</th>
                                    <th class="column100 column8" data-column="column8">Samedi</th>
                                    <th class="column100 column2" data-column="column2">Dimanche</th>
                                </tr>
                            </thead>
                            <tbody>
                                @using System.Globalization;
                                @{  DateTime enteredDate = new DateTime();
                                    enteredDate = DateTime.Now;
                                    int num = CultureInfo.CurrentUICulture.Calendar.GetWeekOfYear(enteredDate, CalendarWeekRule.FirstFourDayWeek, DayOfWeek.Monday);
                                    var list = (from c in new ReposEntities().Repos where c.num_sem==num select c);
                                    
                                }
                                @foreach (var x in list)
                                {
                                    Employe emp = new Employe();
                                    emp = new ReposEntities().Employe.Where(m=>m.Id==x.Id).SingleOrDefault();
                                    if (emp != null) {
                                        List<string> liste = new List<string>();
                                        liste = x.jour.Split('/').ToList<string>();
                                        if (x.num_sem == num)
                                        {

                                    <tr class="row100">
                                        <td class="column100 column1" data-column="column1">@emp.Nom  @emp.Préonm</td>
                                        @if (liste.Contains("Lundi") || x.congé==1)
                                        { <td class="column100 column2" data-column="column2">
                                            R
                                        </td>}
                                        else
                                        {
                                        <td class="column100 column2" data-column="column2">@x.shift</td>}
                                        @if (liste.Contains("Mardi") || x.congé == 1)
                                        {
                                        <td class="column100 column2" data-column="column2">R</td>}
                                        else
                                        {
                                            <td class="column100 column2" data-column="column2">@x.shift</td>}                
                                        @if (liste.Contains("Mercredi") || x.congé == 1)
                                        {
                                        <td class="column100 column2" data-column="column2">R</td>}
                                        else
                                        {
                                            <td class="column100 column2" data-column="column2">@x.shift</td>}                                        
                                        @if (liste.Contains("Jeudi") || x.congé == 1)
                                        {
                                        <td class="column100 column2" data-column="column2">R</td>}
                                        else
                                        {
                                            <td class="column100 column2" data-column="column2">@x.shift</td>}                                        
                                        @if (liste.Contains("Vendredi") || x.congé == 1)
                                        {
                                    <td class="column100 column2" data-column="column2">R</td>}
                                        else
                                        {
                                            <td class="column100 column2" data-column="column2">@x.shift</td>}
                                        @if (liste.Contains("Samedi") || x.congé == 1)
                                        {
                                            <td class="column100 column2" data-column="column2">R</td>}
                                        else
                                        {
                                            <td class="column100 column2" data-column="column2">@x.shift</td>}
                                        @if (liste.Contains("Dimanche") || x.congé == 1)
                                        {
                                            <td class="column100 column2" data-column="column2">R</td>}
                                        else
                                        {
                                            <td class="column100 column2" data-column="column2">@x.shift</td>}                                   
                                     </tr>}
                                                }
                                }
                            </tbody>
                        </table>
                    </div>
                    <input type="submit" value="Valider" />
                </div>
            </div>
        </div>
    </form>




    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>

</body>
</html>